<ion-content [fullscreen]="true">
  <div class = "div-content" *ngIf = 'weatherData != null && weatherData.length > 0'>
    <ion-card class = "weather-card" *ngFor = 'let city of weatherData'>
      <ion-card-header>
        <ion-row>
          <ion-card-title>{{city.name}}</ion-card-title>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <img src="http://openweathermap.org/img/wn/{{city.weather[0].icon}}@2x.png" alt="weather-icon"/>
            <p>{{(city.main.temp - 273.15).toFixed(2)}}°C</p>
          </ion-col>
          <ion-col>
            <p>Feels like:  {{(city.main.feels_like - 273.15).toFixed(2)}}°C</p>
            <p>Wind: {{(city.wind.speed*3.6).toFixed(2)}} km/h</p>
            <p>Humidity: {{city.main.humidity}}%</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <p>{{city.weather.description}}</p>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
