<ion-header [translucent]="true">
  <form [formGroup]="searchForm" (ngSubmit)="searchCityByName(searchForm)">
    <ion-searchbar formControlName="search" inputmode="search"></ion-searchbar>
  </form>
</ion-header>

<ion-content [fullscreen]="true" class="lecontent">
  <div class = "div-content" *ngIf = 'weatherData != null'>
    <ion-card *ngFor = 'let city of weatherData'>
      <ion-card-header>
        <ion-card-title>{{city.name}}</ion-card-title>
        <img src="../../assets/boorkmarks-icon.svg"/>
      </ion-card-header>

      <ion-card-content>
        <ion-row>
          <ion-col>
            <img src="http://openweathermap.org/img/wn/{{city.weather[0].icon}}@2x.png" alt="star-icon"/>
            <p>{{(city.main.temp - 273.15).toFixed(2)}}°C</p>
          </ion-col>
          <ion-col>
            <p>Feels like:  {{(city.main.feels_like - 273.15).toFixed(2)}}°C</p>
            <p>Wind: {{(city.wind.speed*3.6).toFixed(2)}} km/h</p>
            <p>Humidity: {{city.main.humidity}}%</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <p>{{city.weather.description}}</p>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <img src = "http://openweathermap.org/img/wn/10d@2x.png"/>
    <ion-button (onClick)="makeRequest">Fazer uma request</ion-button>
  </div>
</ion-content>
