<ion-content [fullscreen]="true" class="lecontent">
  <div class = "div-content" *ngIf = 'weatherData != null'>
    <form [formGroup]="searchForm" (ngSubmit)="searchCityByName(searchForm)">
      <ion-searchbar class="searchbar" formControlName="search" inputmode="search"></ion-searchbar>
    </form>
    <ion-card *ngFor = 'let city of weatherData'>
      <ion-card-header>
        <ion-row>
          <ion-card-title>{{city.name}}</ion-card-title>
            <img src="../../assets/star-icon.svg" (click) = "markCityAsFavorite(city.id)" *ngIf="!isInFavorites(city.id)"/>
            <img src="../../assets/white-star-icon.svg" (click) = "markCityAsFavorite(city.id)" *ngIf="isInFavorites(city.id)"/>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <img class="weather-conditoin-img" src="http://openweathermap.org/img/wn/{{city.weather[0].icon}}@2x.png" alt="star-icon"/>
            <h1>{{(city.main.temp - 273.15).toFixed(2)}}°C</h1>
          </ion-col>
          <ion-col>
            <p>Feels like:  {{(city.main.feels_like - 273.15).toFixed(2)}}°C</p>
            <p>Wind: {{(city.wind.speed*3.6).toFixed(2)}} km/h</p>
            <p>Humidity: {{city.main.humidity}}%</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h2>{{city.weather[0].description}}</h2>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
